.cursor
.claude
.coverage
.dmypy.json
.idea/
.mypy_cache
.venv/
**/api-reference/
**/*.egg-info
**/_mkdocs.yml*
**/__pycache__
**/.pytest_cache
**/ru/images/
**/ru/reference.md
**/.setup-scripts/
pytest.xml
pytest-coverage.txt
site/
*.py-e
allure-results/
dist/
